/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

:root {
    --border: 2px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#game_board {
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-top: 30px;
    position: relative;
}

.game_row {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.game_square {
    border: var(--border);
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.game_square > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

@media screen and (max-width: 600px) {
    #game_board {
        width: 80vw;
    }

    .game_square > img {
        width: 12vw;
    }
}

#square0, #square2, #square6, #square8 {
    border: none;
}

#square1, #square7 {
    border-top: none;
    border-bottom: none;
}

#square3, #square5 {
    border-left: none;
    border-right: none;
}

#game_title {
    width: 80vw;
    height: 40px;
    background-color: rgb(226, 91, 91);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

#game_title > div {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 10px;
}

#title_text {
    font-size: 45px;
}

#header {
    width: 80vw;
    height: 80px;
    background-color: rgb(226, 91, 91);
    display: flex;
    justify-content: star;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.player_icon {
    width: 20px;
    margin-left: 10px;
}

.player_wrapper {
    display: grid;
    align-items: center;
    height: 35px;
    width: 135px;
    padding: 0 10px;
    background-color: white;
    border-radius: 10px;
    grid-template-columns: 75px 25px;
    box-sizing: border-box;
}

#player_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#pvc_label {
    border-radius: 5px;
    padding: 3px 5px;
}

#pvp_label {
    border-radius: 5px;
    padding: 3px 5px;
    background-color: rgb(16, 140, 181);
    color: white;
}

#player1 {
    /* margin-left: 10px; */
}

#player2 {
    /* margin-right: 10px; */
}

#newgame_btn {
    border-radius: 7px;
    width: 185px;
}

#game_selector {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 8px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 7px;
}

#game_display {
    background-color: white;
    width: 160px;
    height: 34px;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#text_wrapper {
    background-color: white;
    height: 85px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

#text_wrapper > p {
    font-size: 2vw;
    margin: 15px;
    line-height: 1.2;
}

.diagonalLeftBot {
    position: absolute;
    border-top: 4px solid red;
    width: 707px;
    bottom: 0%;
    left: 0%;
    transform: rotate(315deg);
    transform-origin: 0% 0%;
    z-index: 1;
}

.diagonalLeftTop {
    position: absolute;
    border-top: 4px solid red;
    width: 707px;
    top: 0%;
    left: 0%;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    z-index: 1;
}

.horizontalLine {
    position: absolute;
    border-top: 4px solid red;
    width: 500px;
    top: 50%;
    left: 100%;
    transform: rotate(180deg);
    transform-origin: 0% 0%;
    z-index: 1;
}

.verticalLine {
    position: absolute;
    border-top: 4px solid red;
    width: 500px;
    top: 0%;
    left: 51%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    z-index: 1;
}

.win_border {
    border: 1px solid green;
    background-color: lightgreen;
}