/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

:root {
    --border: 2px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#board_wrapper {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
    padding-top: 30px;
}

#game_board {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game_square {
    border: var(--border);
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.game_square > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

@media screen and (max-width: 600px) {
    #board_wrapper {
        width: 80vw;
    }

    .game_square > img {
        width: 12vw;
    }
}

.game_square:nth-child(1), 
.game_square:nth-child(3),
.game_square:nth-child(7),
.game_square:nth-child(9){
    border: none;
}

.game_square:nth-child(2), 
.game_square:nth-child(8) {
    border-top: none;
    border-bottom: none;
}

.game_square:nth-child(4), 
.game_square:nth-child(6) {
    border-left: none;
    border-right: none;
}

#header {
    width: 80vw;
    height: 80px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.player_icon {
    width: 30px;
    margin-left: 10px;
}

.player_wrapper {
    display: grid;
    align-items: center;
    height: 35px;
    width: 115px;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    grid-template-columns: 75px 25px;
}

#player1 {
    margin-left: 10px;
}

#player2 {
    margin-right: 10px;
}

/* SWITCH STYLING BELOW */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* SWITCH STYLING ABOVE */

  #game_selector {
    display: flex;
    align-items: center;
  }

  #game_display {
    background-color: white;
    width: 160px;
    height: 34px;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }