/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

:root {
    --border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#board_wrapper {
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

#game_board {
    /* border: 1px solid black; */
    /* height: 600px; */
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game_square {
    border: var(--border);
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.game_square > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game_square:nth-child(1), 
.game_square:nth-child(3),
.game_square:nth-child(7),
.game_square:nth-child(9){
    border: none;
}

.game_square:nth-child(2), 
.game_square:nth-child(8) {
    border-top: none;
    border-bottom: none;
}

.game_square:nth-child(4), 
.game_square:nth-child(6) {
    border-left: none;
    border-right: none;
}

#x_icon, #o_icon {
    width: 100px;
}